NODE_ENV=development
PORT=5001
CLIENT_URL=http://localhost:5173
DATABASE_URL="postgresql://username:password@host/tempo_ai?sslmode=require"

ANALYSIS_ENGINE_PATH=../analysis-engine
PYTHON_EXECUTABLE=../analysis-engine/.venv/bin/python